<section>
  <div class="row page-header">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <img width="200px" alt="Age Well" class="img-responsive text-center" src="/modules/core/client/assets/images/brand/logo.png" />
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12 text-right">
      <div class="btn-group" role="group" aria-label="..." style="margin-top: 30px;" ng-show="vm.isAdmin">
        <button type="button" class="btn btn-success" ui-sref="clients.create()">Add Client</button>
        <button type="button" class="btn btn-success" ui-sref="volunteers.create()">Add Volunteer</button>
      </div>
    </div>
  </div>
  <div class="row well">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h3>Groceries To Go</h3>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Call List</div>
        <div class="panel-body">

          <!-- Tab panes -->
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th style="width:35%">Client</th>
                <th style="width:35%">Phone #</th>
                <!-- <th>Last Order</th> -->
                <th style="width:30%">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="4">
                  <input class="form-control col-md-4" type="text" ng-model="vm.callListFilter" placeholder="Search" ng-change="vm.figureOutItemsToDisplay('callList')" />
                </td>
              </tr>
              <tr ng-repeat="client in vm.pagedcallList" ng-hide="vm.pagedcallList.length === 0">
                <td>
                  <a ui-sref="clients.view({clientId: client._id })">{{ client.contact.firstName }} {{ client.contact.lastName }}</a>
                </td>
                <td>{{ client.contact.homePhone }}</td>
                <!-- <td>{{ client.contact.orderID }}</td> -->
                <td class="text-right">
                  <div class="btn-group  btn-group-sm">
                    <button class="btn btn-default" ui-sref="clients.view({ clientId: client._id })" tooltip-placement="top" uib-tooltip="View Client"><i class="glyphicon glyphicon-eye-open" aria-label=""></i></button>
                    <button class="btn btn-default" ui-sref="order.create({ clientId: client._id })" tooltip-placement="top" uib-tooltip="New Order"><i class="glyphicon glyphicon-shopping-cart" aria-label="New Order"></i></button>
                    <button class="btn btn-default" ng-click="vm.skip(client)" tooltip-placement="top" uib-tooltip="Skip Order"><i class="glyphicon glyphicon-share-alt" aria-label="Skip Order"></i></button>
                  </div>
                </td>
              </tr>
              <tr ng-if="vm.callList.$resolved && !vm.callList.length">
                <td colspan="3">
                  <div class="alert alert-warning text-center">
                    No more Clients to call.
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr ng-if="vm.filtercallListLength > 0">
                <td colspan="4" class="text-center">
                  <ul uib-pagination boundary-links="false" max-size="4" items-per-page="vm.itemsPerPage" total-items="vm.filtercallListLength" ng-model="vm.callListPage" ng-change="vm.pageChanged('callList')"></ul>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <strong>Order by:</strong> {{ vm.dates.orderBy | date:'EEE, M/d/yy'}}
                </td>
                <td colspan="2" class="text-right">
                  <strong>Delivered on:</strong> {{ vm.dates.delivery | date:'EEE, M/d/yy'}}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Orders</div>
        <div class="panel-body">

          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="{'active': vm.ordersFilter === 'pending'}">
              <a ng-click="vm.setFilter('pending')" aria-controls="home" role="tab" data-toggle="tab">Pending</a>
            </li>
            <li role="presentation" ng-class="{'active': vm.ordersFilter === 'ordered'}">
              <a ng-click="vm.setFilter('ordered')" aria-controls="profile" role="tab" data-toggle="tab">Ordered</a>
            </li>
            <li role="presentation" ng-class="{'active': vm.ordersFilter === 'purchased'}">
              <a ng-click="vm.setFilter('purchased')" aria-controls="messages" role="tab" data-toggle="tab">Purchased</a>
            </li>
            <li role="presentation" ng-class="{'active': vm.ordersFilter === 'delivered'}">
              <a ng-click="vm.setFilter('delivered')" aria-controls="messages" role="tab" data-toggle="tab">Delivered</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">

              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Order #</th>
                    <th>Client</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="order in vm.pagedorders">
                    <td><a ui-sref="order.view({ clientId: order.clientId, orderId: order._id })">{{ order.requestNumber }}</a></td>
                    <td>{{ order.contact.firstName }} {{ order.contact.lastName }}</td>
                    <td>{{ order.status }}</td>
                    <td class="text-right">
                      <div class="btn-group  btn-group-sm">
                        <button class="btn btn-default" ng-click="vm.approve(order)" tooltip-placement="top" uib-tooltip="Confirm Order"><i class="glyphicon glyphicon-share-alt" aria-label="Confirm Order"></i></button>
                        <button class="btn btn-default" ui-sref="order.view({ clientId: order.clientId, orderId: order._id })" tooltip-placement="top" uib-tooltip="View"><i class="glyphicon glyphicon-eye-open" aria-label="View"></i></button>
                        <button class="btn btn-default" ui-sref="order.edit({ clientId: order.clientId, orderId: order._id })" tooltip-placement="top" uib-tooltip="Edit"><i class="glyphicon glyphicon-edit" aria-label="Edit"></i></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <!-- <tfoot>
                  <tr>
                    <td colspan="4">Dates</td>
                  </tr>
                </tfoot> -->
              </table>
              <div class="text-center" ng-hide="vm.filterordersLength === 0">
                <ul uib-pagination boundary-links="false" max-size="5" items-per-page="vm.itemsPerPage" total-items="vm.filterordersLength" ng-model="vm.ordersPage" ng-change="vm.pageChanged('orders')"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row well well-sm" ng-hide="vm.pagedactions.length === 0">
    <h4 class="col-sm-12">Important Actions <span class="badge">{{ vm.actions.length }}</span></h4>
    <div class="row col-sm-12">
      <div ng-repeat="action in vm.pagedactions" class="col-xs-4">
        <div class="panel panel-primary">
          <div class="panel-heading"><strong>{{ action.type }}</strong> <strong style="float: right">{{ action.created | date:short }}</strong></div>
          <div class="panel-body">
            <div>
              <strong>{{ action.contact.firstName }} {{ action.contact.lastName }}</strong>
            </div>
            <p>{{ action.notes }}</p>
            <div class="row">
              <div class="col-sm-6">
              </div>
              <div class="col-sm-6 text-right">
                <button class="btn " ng-class="action.completed ? 'btn-success' : 'btn-default'" ng-click="vm.complete(action)">
              <i class="glyphicon" ng-class="action.completed ? 'glyphicon-check' : 'glyphicon-unchecked'"></i> {{ action.completed ? 'Complete' : 'Uncomplete'}}
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center" ng-hide="vm.filteractionsLength < 4">
      <ul uib-pagination boundary-links="false" max-size="4" items-per-page="vm.actionsPerPage" total-items="vm.filteractionsLength" ng-model="vm.actionsPage" ng-change="vm.pageChanged('actions')"></ul>
    </div>
  </div>
</section>
