<section>
  <div class="page-header">
    <h1>{{vm.client._id ? 'Edit Client' : 'New Client'}}</h1>
  </div>
  <form name="vm.clientForm" class="form-horizontal" ng-submit="vm.save(vm.clientForm.$valid)" novalidate>
    <div class="col-md-9">
      <contact-form contact="vm.client.contact" error="vm.error" form="vm.clientForm"></contact-form>
      <fieldset class="col-md-12">
        <div class="form-group">
          <label>Monthly Income Single</label>
          <div>
            <div class="radio-inline" ng-repeat="option in vm.options.monthlyIncomeSingle">
              <input type="radio" ng-model="vm.client.monthlyIncomeSingle" ng-value="option"> {{option}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Monthly Income Married</label>
          <div>
            <div class="radio-inline" ng-repeat="option in vm.options.monthlyIncomeMarried">
              <input type="radio" ng-model="vm.client.monthlyIncomeMarried" ng-value="option"> {{option}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Transportation</label>
          <div>
            <div class="radio-inline" ng-repeat="option in vm.options.transportation">
              <input type="radio" ng-model="vm.client.transportation" ng-value="option"> {{option}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="referralSource">Referral Source</label>
          <textarea name="referralSource" type="text" ng-model="vm.client.referralSource" id="referralSource" class="form-control" placeholder="Referral Source"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="comments">Comments</label>
          <textarea name="comments" type="text" ng-model="vm.client.comments" id="comments" class="form-control" placeholder="Comments"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">{{vm.client._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label">Client Status</label>
        <div class="">
          <input name="active" type="radio" ng-model="vm.client.active" ng-value="true"> Active
          <input name="active" type="radio" ng-model="vm.client.active" ng-value="false"> Inactive
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Grocery Call List</label>
        <div class="">
          <input name="groceryCallList" type="radio" ng-model="vm.client.groceryCallList" ng-value="true"> On
          <input name="groceryCallList" type="radio" ng-model="vm.client.groceryCallList" ng-value="false"> Off
        </div>
      </div>
    </div>
  </form>
</section>
