<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Clients</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" ng-disabled="true"/>
      </div>
      <div class="col-md-4 text-right" style="margin-top: 2em">
        <button class="btn btn-default" ui-sref="clients.create" tooltip-placement="top" uib-tooltip="Add New Client"><i class="glyphicon glyphicon-plus" aria-label="Add New Client"></i></button>
      </div>
    </div>
  </div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Other</th>
        <th class="text-right">Services</th>
        <th class="text-right">Call List</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="client in vm.clients" ui-sref="clients.view({ clientId: client._id })">
        <td>{{client.contact.firstName}} {{client.contact.lastName}}</td>
        <td class="list-group-item-text">
          Some Additional Information
        </td>
        <td class="text-right" ng-click="$event.stopPropagation()">
          <button class="btn btn-default" ui-sref="services.view.requests.create({ clientId: client._id })" tooltip-placement="top" uib-tooltip="Care Consultation" ng-disabled="true" ng-click="$event.stopPropagation()">
            <i class="glyphicon glyphicon-list-alt"></i>
          </button>
          <button class="btn btn-default" ui-sref="services.view.requests.create({ clientId: client._id })" tooltip-placement="top" uib-tooltip="Chore" ng-disabled="true" ng-click="$event.stopPropagation()">
            <i class="glyphicon glyphicon-wrench"></i>
          </button>
          <button class="btn btn-default" ui-sref="services.view.requests.create({ clientId: client._id })" tooltip-placement="top" uib-tooltip="Homemaking" ng-disabled="true" ng-click="$event.stopPropagation()">
            <i class="glyphicon glyphicon-home"></i>
          </button>
          <button class="btn btn-default" ui-sref="services.view.requests.create({ clientId: client._id })" tooltip-placement="top" uib-tooltip="Appointment" ng-disabled="true" ng-click="$event.stopPropagation()">
            <i class="glyphicon glyphicon-heart"></i>
          </button>
          <button class="btn btn-default" ui-sref="services.view.requests.create({ clientId: client._id })" tooltip-placement="top" uib-tooltip="Errand" ng-disabled="true" ng-click="$event.stopPropagation()">
            <i class="glyphicon glyphicon-barcode"></i>
          </button>
          <button class="btn btn-success" ui-sref="order.create({ clientId: client._id })" tooltip-placement="top" uib-tooltip="Groceries" ng-click="$event.stopPropagation()">
            <i class="glyphicon glyphicon-shopping-cart" aria-label="Groceries"></i>
          </button>
        </td>
        <td class="text-right" ng-click="$event.stopPropagation()">
          <button class="btn" ng-click="vm.toggleCallList(client)" ng-class="client.groceryCallList ? 'btn-success' : 'btn-danger'">
            <i class="glyphicon" ng-class="client.groceryCallList ? 'glyphicon-ok' : 'glyphicon-remove'"></i>
          </button>
        </td>
        <td class="text-right">
          <button class="btn btn-default" ui-sref="clients.view({ clientId: client._id })" tooltip-placement="top" uib-tooltip="View" ng-click="$event.stopPropagation()"><i class="glyphicon glyphicon-eye-open" aria-label="View"></i></button>
          <button class="btn btn-default" ui-sref="clients.edit({ clientId: client._id })" tooltip-placement="top" uib-tooltip="Edit" ng-click="$event.stopPropagation()"><i class="glyphicon glyphicon-edit" aria-label="Edit"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
  <div class="alert alert-warning text-center" ng-if="vm.clients.$resolved && !vm.clients.length">
    No Clients yet, why don't you <a ui-sref="clients.create">create one</a>?
  </div>
</section>
