<section>
  <div class="page-header">
    <h1 ng-bind="vm.client.contact.name.first + ' ' + vm.client.contact.name.middleInitial + ' ' + vm.client.contact.name.last"></h1>
  </div>

  <uib-tabset active="active">
    <uib-tab index="0" heading="Client Info">
  <div class="col-md-8">
    <contact-view contact="vm.client.contact"></contact-view>
    <p><strong>Monthly Income Single:</strong> {{vm.client.monthlyIncomeSingle}}</p>
    <p><strong>Monthly Income Married:</strong> {{vm.client.monthlyIncomeMarried}}</p>
    <p><strong>Transportation:</strong> {{vm.client.transportation}}</p>
    <div><strong>Referral Source:</strong>
      <p ng-bind="vm.client.referralSource"></p>
    </div>
    <div><strong>Comments:</strong>
      <p ng-bind="vm.client.comments"></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="pull-right" ng-show="vm.client.canEdit">
      <h4>Service Requests</h4>
      <div class="btn-group-vertical" role="group" aria-label="Client Actions">
        <button class="btn btn-primary" ui-sref="services.view.requests.create({ clientId: vm.client._id })" ng-disabled="true">
          <i class="glyphicon glyphicon-list-alt"></i> Care Consultation
        </button>
        <button class="btn btn-primary" ui-sref="services.view.requests.create({ clientId: vm.client._id })" ng-disabled="true">
          <i class="glyphicon glyphicon-wrench"></i> Chore
        </button>
        <button class="btn btn-primary" ui-sref="services.view.requests.create({ clientId: vm.client._id })" ng-disabled="true">
          <i class="glyphicon glyphicon-home"></i> Homemaking
        </button>
        <button class="btn btn-primary" ui-sref="services.view.requests.create({ clientId: vm.client._id })" ng-disabled="true">
          <i class="glyphicon glyphicon-heart"></i> Appointment
        </button>
        <button class="btn btn-primary" ui-sref="services.view.requests.create({ clientId: vm.client._id })" ng-disabled="true">
          <i class="glyphicon glyphicon-barcode"></i> Errand
        </button>
        <button class="btn btn-primary" ui-sref="order.create({ clientId: vm.client._id })">
          <i class="glyphicon glyphicon-shopping-cart"></i> Groceries
        </button>
        <button class="btn btn-secondary" ng-disabled="true"></button>
        <button class="btn btn-primary" ui-sref="clients.edit({ clientId: vm.client._id })">
          <i class="glyphicon glyphicon-edit"></i> Edit Client
        </button>
        <button class="btn btn-primary" ng-click="vm.remove()">
          <i class="glyphicon glyphicon-trash"></i> Delete Client
        </button>
      </div>
    </div>
  </div>
</uib-tab>
    <uib-tab index="1" heading="Groceries">
      <list-orders clientId="vm.client._id"></list-orders>
    </uib-tab>
    <uib-tab index="2" heading="Appointments" disable="true">
      Coming Soon, but not soon enough!
    </uib-tab>
    <uib-tab index="3" heading="Chores" disable="true">
      Coming Soon, but not soon enough!
    </uib-tab>
    <uib-tab index="4" select="alertMe()">
      <uib-tab-heading>
        <i class="glyphicon glyphicon-bell"></i> Alert!
      </uib-tab-heading>
      I've got an HTML heading, and a select callback. Pretty cool!
    </uib-tab>
  </uib-tabset>
</section>
