<section>
  <div class="page-header">
    <h1 ng-bind="vm.client.contact.name.first + ' ' + vm.client.contact.name.middleInitial + ' ' + vm.client.contact.name.last"></h1>
  </div>
  <div class="col-md-8">
    <contact-view contact="vm.client.contact"></contact-view>
    <p><strong>Monthly Income Single:</strong> {{vm.client.monthlyIncomeSingle}}</p>
    <p><strong>Monthly Income Married:</strong> {{vm.client.monthlyIncomeMarried}}</p>
    <p><strong>Transportation:</strong> {{vm.client.transportation}}</p>
    <div><strong>Referral Source:</strong>
      <p ng-bind="vm.client.referralSource"></p>
    </div>
    <div><strong>Comments:</strong>
      <p ng-bind="vm.client.comments"></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="pull-right" ng-show="vm.client.canEdit">
      <h4>Service Requests</h4>
      <div class="btn-group-vertical" role="group" aria-label="Client Actions">
        <button class="btn btn-primary" ui-sref="services.view.requests.create({ clientId: vm.client._id })" ng-disabled="true">
          <i class="glyphicon glyphicon-edit"></i> Care Consultation
        </button>
        <button class="btn btn-primary" ui-sref="services.view.requests.create({ clientId: vm.client._id })" ng-disabled="true">
          <i class="glyphicon glyphicon-edit"></i> Chore
        </button>
        <button class="btn btn-primary" ui-sref="services.view.requests.create({ clientId: vm.client._id })" ng-disabled="true">
          <i class="glyphicon glyphicon-edit"></i> Homemaking
        </button>
        <button class="btn btn-primary" ui-sref="services.view.requests.create({ clientId: vm.client._id })" ng-disabled="true">
          <i class="glyphicon glyphicon-edit"></i> Appointment
        </button>
        <button class="btn btn-primary" ui-sref="services.view.requests.create({ clientId: vm.client._id })" ng-disabled="true">
          <i class="glyphicon glyphicon-edit"></i> Errand
        </button>
        <button class="btn btn-primary" ui-sref="groceries.orders.create()">
          <i class="glyphicon glyphicon-edit"></i> Groceries
        </button>
        <button class="btn btn-secondary" ng-disabled="true"></button>
        <button class="btn btn-primary" ui-sref="clients.edit({ clientId: vm.client._id })">
          <i class="glyphicon glyphicon-edit"></i> Edit Client
        </button>
        <button class="btn btn-primary" ng-click="vm.remove()">
          <i class="glyphicon glyphicon-trash"></i> Delete Client
        </button>
      </div>
    </div>
  </div>
  <!-- <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.client.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.client.user"
            ng-bind="vm.client.user.displayName"></span>
      <span ng-if="!vm.client.user">Deleted User</span>
    </em>
  </small> -->
</section>
