<section>
  <div class="page-header">
    <h2>Assign Rides</h1>
  </div>
  <div class="list-group" ng-if="vm.rides.$resolved && vm.rides.length > 0">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Ride #</th>
          <th>Status</th>
          <th>Date/Time</th>
          <th>Location</th>
          <th>Purpose</th>
          <th>Trip Type</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ride in vm.rides" >
          <td><a ui-sref="ride.view({ rideId: ride._id })">{{ ride.requestNumber }}</a></td>
          <td class="capitalize">{{ ride.status }}</td>
          <td>{{ ride.date | date:'M/dd/yyyy h:mm a' }}</td>
          <td>{{ ride.locationName }}</td>
          <td>{{ ride.purpose }}</td>
          <td>{{ ride.tripType }}</td>
          <td class="text-right">
            <button class="btn btn-default" ng-click="vm.assign(ride)"><i class="glyphicon glyphicon-user" aria-label="Assign"></i> <span class="hidden-xs">Assign</span></button>
            <button class="btn btn-default" ui-sref="ride.view({ rideId: ride._id })" tooltip-placement="top" uib-tooltip="View"><i class="glyphicon glyphicon-eye-open" aria-label="View"></i></button>
            <button class="btn btn-default" ui-sref="ride.edit({ rideId: ride._id })" tooltip-placement="top" uib-tooltip="Edit"><i class="glyphicon glyphicon-edit" aria-label="Edit"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">
            <div class="row">
              <button type="button" class="btn btn-primary  hidden-print"  onclick="window.history.back()">Back</button>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.rides.$resolved && !vm.rides.length">
    No rides yet, why don't you <a ui-sref="ride.create({ rideId: ride._id })">create one</a>?
  </div>
</section>
