<section>
  <div class="page-header">
    <h1 class="text-capitalize">Ride #{{ vm.ride.requestNumber }} - {{ vm.ride.status }}</h1>
  </div>
  <div class="col-md-8" style="padding: 0 0 20px;">
    <div class="row">
      <label for="name">Name</label> {{ vm.ride.name }}
    </div>
    <div class="row">
      <label>Date Requested</label> {{ vm.ride.dateRequested }}
    </div>
    <div class="row">
      <label>Time Requested</label> {{ vm.ride.timeRequested }}
    </div>
    <div class="row">
      <label>Purpose</label> {{ vm.ride.purpose }}
    </div>
    <div class="row">
      <label>Location</label> {{ vm.ride.locationName }}
    </div>
    <div class="row">
      <label>Trip Type</label> {{ vm.ride.tripType }}
    </div>
    <div class="row">
      <label>Special Instructions</label> {{ vm.ride.specialInstructions }}
    </div>
    <div class="row">
      <label>Status</label> {{ vm.ride.status }}
    </div>
    <div class="row">
      <label>Assign Volunteer</label> {{ vm.volunteer.firstName }} {{ vm.volunteer.lastName }}
    </div>
    <div class="row">
      <button type="button" class="btn btn-primary  hidden-print"  onclick="window.history.back()">Back</button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="btn-group btn-group hidden-print" role="group" aria-label="...">
      <button type="button" class="btn btn-primary" ui-sref="ride.edit({ rideId: vm.ride._id })">Edit</button>
      <button type="button" class="btn btn-primary" ng-hide="vm.ride.status === 'canceled'" ng-click="vm.assign()">Assign</button>
      <button class="btn btn-primary" ng-click="vm.print()">Print</button>
    </div>
    <hr />
  </div>
</section>
