<section>
  <div class="page-header">
    <h2>Rides</h1>
  </div>
  <div class="list-group" ng-if="vm.rides.$resolved && vm.rides.length > 0">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Ride #</th>
          <th>Status</th>
          <th>Date/Time</th>
          <th>Pickup</th>
          <th>Dropoff</th>
          <th>Purpose</th>
          <th>Trip Type</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ride in vm.pagedItems" >
          <td><a ui-sref="ride.view({ rideId: ride._id })">{{ ride.requestNumber }}</a></td>
          <td class="capitalize">{{ ride.status }}</td>
          <td>{{ ride.dateRequested | date:'M/dd/yyyy h:mm a' }}</td>
          <td><a href="{{
          vm.isMobile ? 'maps' : 'https' }}://maps.google.com/?q={{ vm.getAddress(ride.location) }}" target="_blank" tooltip-placement="top" uib-tooltip="Directions">{{ ride.locationName }} <br />
            <div ng-bind="ride.location.street"></div>
            <div ng-bind="ride.location.additional" ng-show="ride.location.additional"></div>
            <span ng-bind="ride.location.city"></span>,
            <span ng-bind="ride.location.state"></span>
            <span ng-bind="ride.location.zipcode"></span>
          </a></td>
          <td><a href="{{
          vm.isMobile ? 'maps' : 'https' }}://maps.google.com/?q={{ vm.getAddress(ride.dropoffLocation) }}" target="_blank" tooltip-placement="top" uib-tooltip="Directions">{{ ride.dropoffLocationName }} <br />
            <div ng-bind="ride.dropoffLocation.street"></div>
            <div ng-bind="ride.dropoffLocation.additional" ng-show="ride.dropoffLocation.additional"></div>
            <span ng-bind="ride.dropoffLocation.city"></span>,
            <span ng-bind="ride.dropoffLocation.state"></span>
            <span ng-bind="ride.dropoffLocation.zipcode"></span>
          </a></td>
          <td>{{ ride.purpose }}</td>
          <td>{{ ride.tripType }}</td>
          <td class="text-right" style="min-width: 105px">
            <button class="btn btn-default" ng-click="vm.complete(ride)" ng-disabled="ride.fullfilled.status"><i class="glyphicon" ng-class="ride.fullfilled.status ? 'glyphicon-check' : 'glyphicon-unchecked'" aria-label="View" tooltip-placement="top" uib-tooltip="Complete"></i></button>
            <button class="btn btn-default" ui-sref="ride.view({ rideId: ride._id })" tooltip-placement="top" uib-tooltip="View"><i class="glyphicon glyphicon-eye-open" aria-label="View"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr ng-if="vm.filterLength > vm.itemsPerPage">
          <td colspan="6" class="text-center">
            <ul uib-pagination boundary-links="false" max-size="4" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></ul>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.rides.$resolved && !vm.rides.length">
    No rides are assigned to you yet.</a>
  </div>
</section>
