<section>
  <div class="page-header">
    <h1>Grocery Deliveries</h1>
  </div>
  <div class="list-group table-responsive">
    <table class="table table-condensed table-hover table-striped"  ng-hide="vm.complete">
      <thead>
        <tr>
          <th>Order #</th>
          <th>Client</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Total</th>
          <th class="text-right"><span class="hidden-xs">Actions</span></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="order in vm.orders" ng-class="order.status === 'delivered' ? 'success' : ''">
          <td>
            <a ui-sref="order.view({ clientId: order.clientId, orderId: order._id })">{{ order.requestNumber }}</a>
          </td>
          <td>{{ order.contact.firstName }} {{ order.contact.lastName }}</td>
          <td>
            <div class="hidden-xs">
              {{ order.contact.homePhone }}
            </div>
            <a class="btn btn-default visible-xs" href="tel://{{ order.contact.homePhone }}" target="_blank"><i class="glyphicon glyphicon-earphone" aria-label="Phone"></i></a>
          </td>
          <td>{{ order.contact.address.street }} {{ order.contact.address.additional }}</td>
          <td>{{ order.total | currency }}</td>
          <td class="text-right">

            <!-- Directions Links -->
            <button class="btn btn-default hidden-xs" ui-sref="order.edit({ clientId: order.clientId, orderId: order._id })" tooltip-placement="top" uib-tooltip="Edit"><i class="glyphicon glyphicon-edit" aria-label="Edit"></i></button>
            <a class="btn btn-default" href="{{
            vm.isMobile ? 'maps' : 'https' }}://maps.google.com/?q={{ vm.getAddress(order.contact.address) }}" target="_blank"><i class="glyphicon glyphicon-road" aria-label="Directions"></i></a>
            <a class="btn btn-default" ng-click="order.status !== 'delivered' && vm.deliver(order)" target="_blank" ng-disabled="order.status === 'delivered'"><i class="glyphicon glyphicon-home" aria-label="Deliver"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="alert alert-warning text-center" ng-if="(vm.orders.$resolved && !vm.orders.length) || vm.complete">
    No Orders are awaiting delivery. <a ui-sref="home">Click here</a> to return to the dashboard.
  </div>
