<fieldset>

  <table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
      <td style="width:35%">Name</td>
      <td style="width:20%">Qty</td>
      <td style="width:20%">Price</td>
      <td style="width:25%">Category</td>
      <td style="width:25%">Actions</td>
    </tr>
    <tr ng-repeat="item in vm.items">
      <td>
        <!-- editable username (text with validation) -->
        <div editable-text="item.name" e-name="name" e-form="rowform">{{ item.name || '' }}</div>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <div editable-number="item.qty" e-name="qty" e-form="rowform" e-name="qty">
          {{ item.qty || '0' }}
        </div>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <div editable-number="item.price" e-name="price" e-form="rowform" e-name="price">
          {{ item.price || '0.00' }}
        </div>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <div editable-select="item.category" e-name="category" e-form="rowform" e-ng-options="c as c for c in vm.options.category">
          {{ item.category }}
        </div>
      </td>
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" onbeforesave="saveItem($data, item.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == item">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">save</button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">cancel</button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
          <button type="button" class="btn btn-danger" ng-click="vm.removeItem($index)">del</button>
        </div>
      </td>
    </tr>
  </table>
  <button type="button" class="btn btn-default" ng-click="vm.addItem()">Add Item</button>
</fieldset>
