<section>
  <div class="page-header">
    <h2>Groceries to Go Orders</h1>
  </div>
  <div class="list-group">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Other</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="order in vm.orders" ui-sref="order.view({ clientId: client._id, orderId: order._id })">
        <td></td>
          <td></td>
            <td></td>
          </tr></tbody></table>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.groceriesToGos.$resolved && !vm.groceriesToGos.length">
    No Orders yet, why don't you <a ui-sref="order.create">create one</a>?
  </div>
</section>
