<section>
  <div class="page-header">
    <h1>Grocery Pick List</h1>
  </div>
  <div class="list-group table-responsive">
    <table class="table table-hover table-striped" ng-show="vm.orders.length !== 0">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Category</th>
          <th>Quantity</th>
          <th>Client</th>
          <th><span class="hidden-xs">In Cart</span></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in vm.picklist" ng-class="item.inCart ? 'success' : ''">
          <td>{{ item.name }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.qty }}</td>
          <td>{{ item.client }}</td>
          <td>
            <button class="btn btn-default" ng-click="vm.toggle(item)"><i class="glyphicon" ng-class="item.inCart ? 'glyphicon-check' : 'glyphicon-unchecked'" aria-label="View"></i></button>
            <button class="btn" ng-click="vm.notAvailable(item)" ng-class="item.notAvailable ? 'btn-danger' : 'btn-default'" ng-disabled="item.inCart"><i class="glyphicon glyphicon-ban-circle" aria-label="View"></i></button>
            <button class="btn btn-default" ui-sref="order.view({ clientId: item.clientId, orderId: item.orderId })"><i class="glyphicon glyphicon-eye-open" aria-label=""></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-right">
            <button ng-show="vm.complete" class="btn btn-success" ui-sref="groceries.checkout">Checkout</button>
            <button ng-show="!vm.complete" class="btn btn-danger" ng-click="vm.checkout()">Checkout</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.orders.$resolved && !vm.orders.length">
    No Orders are ready to be picked.
  </div>
