<fieldset class="col-md-12 row">
  <div class="col-md-3">
    <div class="form-group" show-errors>
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.contact.name.first" placeholder="First Name" required autofocus>
      <div ng-messages="vm.userForm.name.first.$error" role="alert">
        <p class="help-block error-text" ng-message="required">First name is required.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group" show-errors>
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.contact.name.last" placeholder="Last Name" required>
      <div ng-messages="vm.userForm.name.last.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Last name is required.</p>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <div class="form-group">
      <label for="middleInitial">M.I.</label>
      <input type="text" id="middleInitial" name="middleInitial" class="form-control" ng-model="vm.contact.name.middleInitial" maxlength="1" autofocus style="max-width: 35px">
    </div>
  </div>
</fieldset>
<address address="vm.contact.address" error="vm.error"></address>
<fieldset class="col-md-12 row">
  <div class="col-md-3">
    <div class="form-group">
      <label for="phone">Home Phone</label>
      <input type="text" id="phone" name="phone" class="form-control" ng-model="vm.contact.homePhone" placeholder="555-555-5555" lowercase>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="phone">Work Phone</label>
      <input type="text" id="phone" name="phone" class="form-control" ng-model="vm.contact.workPhone" placeholder="555-555-5555" lowercase>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="phone">Cell Phone</label>
      <input type="text" id="phone" name="phone" class="form-control" ng-model="vm.contact.cellPhone" placeholder="555-555-5555" lowercase>
    </div>
  </div>
</fieldset>
<fieldset class="col-md-12">
  <div class="form-group" show-errors>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" class="form-control" ng-model="vm.contact.email" placeholder="Email" lowercase>
    <div ng-messages="vm.userForm.email.$error" role="alert">
      <p class="help-block error-text" ng-message="required">Email address is required.</p>
      <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
    </div>
  </div>
</fieldset>
<fieldset class="col-md-12 row">
  <div class="col-md-2">
    <label for="email">Birth Day</label>
    <p class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="M/dd/yyyy" ng-model="vm.contact.birthDay" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
  </div>
  <div class="col-md-10">
    <div class="form-group">
      <label>Gender</label>
      <div>
        <div class="radio-inline" ng-repeat="option in vm.options.gender">
          <input type="radio" ng-model="vm.client.gender" ng-value="option"> {{option}}
        </div>
      </div>
    </div>
  </div>
</fieldset>
<fieldset class="col-md-12">
  <div class="form-group">
    <label>veteran</label>
    <div>
      <div class="radio-inline" ng-repeat="option in vm.options.veteran">
        <input type="radio" ng-model="vm.client.veteran" ng-value="option"> {{option}}
      </div>
    </div>
  </div>
</fieldset>
<fieldset class="col-md-12">
  <div class="form-group">
    <label>ethnicity</label>
    <div>
      <div class="radio-inline" ng-repeat="option in vm.options.ethnicity">
        <input type="radio" ng-model="vm.client.ethnicity" ng-value="option"> {{option}}
      </div>
    </div>
  </div>
</fieldset>
<fieldset class="col-md-12">
  <div class="form-group">
    <label>race</label>
    <div>
      <div class="radio-inline" ng-repeat="option in vm.options.race">
        <input type="radio" ng-model="vm.client.race" ng-value="option"> {{option}}
      </div>
    </div>
  </div>
</fieldset>
<fieldset class="col-md-12">
  <div class="form-group">
    <label>Marital Status</label>
    <div>
      <div class="radio-inline" ng-repeat="option in vm.options.maritalStatus">
        <input type="radio" ng-model="vm.client.maritalStatus" ng-value="option"> {{option}}
      </div>
    </div>
  </div>
</fieldset>
<fieldset class="col-md-12">
  <div class="form-group">
    <label>education</label>
    <div>
      <div class="radio-inline" ng-repeat="option in vm.options.monthlyIncomeSingle">
        <input type="radio" ng-model="vm.client.monthlyIncomeSingle" ng-value="option"> {{option}}
      </div>
    </div>
  </div>
</fieldset>
<fieldset class="col-md-12 row">
  <div class="col-md-2">
    <div class="form-group">
      <label>hasDisability</label>
      <div>
        <div class="radio-inline" ng-repeat="option in vm.options.monthlyIncomeSingle">
          <input type="radio" ng-model="vm.client.monthlyIncomeSingle" ng-value="option"> {{option}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="form-group">
      <label>disability</label>
      <div>
        <div class="radio-inline" ng-repeat="option in vm.options.monthlyIncomeSingle">
          <input type="radio" ng-model="vm.client.monthlyIncomeSingle" ng-value="option"> {{option}}
        </div>
      </div>
    </div>
  </div>
</fieldset>
<fieldset class="col-md-12">
  <div class="form-group">
    <label>allergies</label>
    <div>
      <div class="radio-inline" ng-repeat="option in vm.options.monthlyIncomeSingle">
        <input type="radio" ng-model="vm.client.monthlyIncomeSingle" ng-value="option"> {{option}}
      </div>
    </div>
  </div>
</fieldset>
