<fieldset class="col-md-12 row">
  <div class="col-md-3">
    <div class="form-group" show-errors>
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.contact.firstName" placeholder="First Name" autofocus required>
      <div ng-messages="vm.form.firstName.$error" role="alert">
        <p class="help-block error-text" ng-message="required">First name is required.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group" show-errors>
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.contact.lastName" placeholder="Last Name" required>
      <div ng-messages="vm.form.lastName.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Last name is required.</p>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <div class="form-group">
      <label for="middleInitial">M.I.</label>
      <input type="text" id="middleInitial" name="middleInitial" class="form-control" ng-model="vm.contact.middleInitial" maxlength="1" style="max-width: 35px">
    </div>
  </div>
</fieldset>
<address address="vm.contact.address" error="vm.error"></address>
<fieldset class="col-md-12 row">
  <div class="col-md-3">
    <div class="form-group">
      <label for="phone">Primary Phone</label>
      <input type="text" id="phone" name="phone" class="form-control" ng-model="vm.contact.phone1" placeholder="(555) 555-5555" ui-us-phone-number maxlength="14">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="phone">Secondary Phone</label>
      <input type="text" id="phone" name="phone" class="form-control" ng-model="vm.contact.phone2" placeholder="(555) 555-5555" ui-us-phone-number maxlength="14">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="phone">Tertiary Phone</label>
      <input type="text" id="phone" name="phone" class="form-control" ng-model="vm.contact.phone3" placeholder="(555) 555-5555" ui-us-phone-number maxlength="14">
    </div>
  </div>
</fieldset>
<fieldset class="col-md-12">
  <div class="form-group" show-errors>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" class="form-control" ng-model="vm.contact.email" placeholder="Email" lowercase>
    <div ng-messages="vm.form.email.$error" role="alert">
      <p class="help-block error-text" ng-message="required">Email address is required.</p>
      <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
    </div>
  </div>
</fieldset>
<fieldset class="col-md-12 row">
  <div class="col-md-2">
    <div class="form-group" show-errors>
      <label for="birthday">Birthday</label>
      <p class="input-group">
        <input name="birthday" type="text" class="form-control" uib-datepicker-popup="M/dd/yyyy" ng-model="vm.contact.birthday" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" />
        <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
      </p>
      <div ng-messages="vm.form.birthday.$error" role="alert">
        <p class="help-block error-text" ng-message="birthday">Birthday is invalid.</p>
        <p class="help-block error-text" ng-message="date">Birthday must be in the correct format. (ie. 1/1/2000)</p>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="form-group">
      <label>Gender</label>
      <div>
        <div class="radio-inline" ng-repeat="option in vm.options.gender">
          <input type="radio" ng-model="vm.contact.gender" ng-value="option"> {{option}}
        </div>
      </div>
    </div>
  </div>
</fieldset>
<fieldset class="col-md-12">
  <div class="form-group">
    <label>Veteran</label>
    <div>
      <input type="checkbox" ng-model="vm.contact.veteran">
    </div>
  </div>
</fieldset>
<fieldset class="col-md-12">
  <div class="form-group">
    <label>Ethnicity</label>
    <div>
      <div class="radio-inline" ng-repeat="option in vm.options.ethnicity">
        <input type="radio" ng-model="vm.contact.ethnicity" ng-value="option"> {{option}}
      </div>
    </div>
  </div>
</fieldset>
<fieldset class="col-md-12">
  <div class="form-group">
    <label>Race</label>
    <div>
      <div class="radio-inline" ng-repeat="option in vm.options.race">
        <input type="radio" ng-model="vm.contact.race" ng-value="option"> {{option}}
      </div>
    </div>
  </div>
</fieldset>
<fieldset class="col-md-12">
  <div class="form-group">
    <label>Marital Status</label>
    <div>
      <div class="radio-inline" ng-repeat="option in vm.options.maritalStatus">
        <input type="radio" ng-model="vm.contact.maritalStatus" ng-value="option"> {{option}}
      </div>
    </div>
  </div>
</fieldset>
<fieldset class="col-md-12">
  <div class="form-group">
    <label>Education</label>
    <div>
      <input type="text" id="Education" name="Education" class="form-control" ng-model="vm.contact.education" placeholder="Education">
    </div>
  </div>
</fieldset>
<fieldset class="col-md-12 row">
  <div class="col-md-2">
    <div class="form-group">
      <label>Has Disability</label>
      <div>
        <input type="checkbox" ng-model="vm.contact.hasDisability">
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="form-group">
      <label>Disability</label>
      <div>
        <input type="text" id="Disability" name="Disability" class="form-control" ng-model="vm.contact.disability" placeholder="Disability">
      </div>
    </div>
  </div>
</fieldset>
<fieldset class="col-md-12">
  <div class="form-group">
    <label>Allergies</label>
    <div>
      <input type="text" id="allergies" name="Allergies" class="form-control" ng-model="vm.contact.allergies" placeholder="Allergies">
    </div>
  </div>
</fieldset>
<div ng-show="vm.error" class="text-danger">
  <strong ng-bind="vm.error"></strong>
</div>
