<h4>Address</h4>
<p>
  <div ng-bind="vm.contact.address.street"></div>
  <div ng-bind="vm.contact.address.additional" ng-show="vm.contact.address.additional"></div>
  <span ng-bind="vm.contact.address.city"></span>,
  <span ng-bind="vm.contact.address.state"></span>
  <span ng-bind="vm.contact.address.zipcode"></span>
</p>
<p><strong>Home Phone:</strong> {{vm.contact.homePhone}}</p>
<p><strong>Work Phone:</strong> {{vm.contact.workPhone}}</p>
<p><strong>Cell Phone:</strong> {{vm.contact.cellPhone}}</p>
<p><strong>Birthday:</strong> {{vm.contact.birthday | date: 'mediumDate' }}</p>
<p><strong>Gender:</strong> {{vm.contact.gender}}</p>
<p><strong>Veteran:</strong> {{vm.contact.veteran}}</p>
<p><strong>Ethnicity:</strong> {{vm.contact.veteran}}</p>
<p><strong>Race:</strong> {{vm.contact.race}}</p>
<p><strong>Marital Status:</strong> {{vm.contact.maritalStatus}}</p>
<p><strong>Education:</strong> {{vm.contact.education}}</p>
<p><strong>Has Disability:</strong> {{vm.contact.veteran}}</p>
<p><strong>Disability:</strong> {{vm.contact.disability}}</p>
<p><strong>Allergies:</strong> {{vm.contact.allergies}}</p>
