<fieldset class="col-md-12">
  <div class="form-group" show-errors>
    <label for="street">Address</label>
    <input type="text" id="street" name="street" class="form-control" ng-model="vm.address.street" placeholder="Street Address">
  </div>
</fieldset>
<fieldset class="col-md-12">
  <div class="form-group" show-errors>
    <label for="address">Address 2</label>
    <input type="text" id="additional" name="additional" class="form-control" ng-model="vm.address.additional" placeholder="Apt Number">
  </div>
</fieldset>
<fieldset class="col-md-12 row">
  <div class="col-md-6">
    <div class="form-group" show-errors>
      <label for="city">City</label>
      <input type="text" id="city" name="city" class="form-control" ng-model="vm.address.city" placeholder="City">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group" show-errors>
      <label for="state">State</label>
      <input type="text" id="state" name="state" class="form-control" ng-model="vm.address.state" placeholder="State">
      <ui-select ng-model="vm.address.state" theme="bootstrap" title="State">
        <ui-select-match placeholder="State">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="state in vm.options.state">
          {{state}}
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group" show-errors>
      <label for="zipcode">Zip Code</label>
      <input type="number" id="zipcode" name="zipcode" class="form-control" ng-model="vm.address.zipcode" maxlength="5" placeholder="Zip Code">
    </div>
  </div>
</fieldset>
