<fieldset class="col-md-12">
  <div class="form-group" show-errors>
    <label for="street">Address</label>
    <input type="text" id="street" name="street" class="form-control" ng-model="vm.address.street" placeholder="Street Address">
  </div>
</fieldset>
<fieldset class="col-md-12">
  <div class="form-group" show-errors>
    <label for="address">Address 2</label>
    <input type="text" id="additional" name="additional" class="form-control" ng-model="vm.address.additional" placeholder="Apt Number">
  </div>
</fieldset>
<fieldset class="col-md-12 row">
  <div class="col-md-6">
    <div class="form-group" show-errors>
      <label for="city">City</label>
      <input type="text" id="city" name="city" class="form-control" ng-model="vm.address.city" placeholder="City">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="state">State</label>
      <select name="state" ng-model="vm.address.state" class="form-control">
        <option ng-repeat="option in vm.options.state" value="{{option}}">{{option}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group" show-errors>
      <label for="zipcode">Zip Code</label>
      <input type="text" id="zipcode" name="zipcode" class="form-control" ng-model="vm.address.zipcode" maxlength="5" placeholder="Zip Code">
    </div>
  </div>
</fieldset>
<div ng-show="vm.error" class="text-danger">
  <strong ng-bind="vm.error"></strong>
</div>
