<section>
  <div class="page-header">
    <h1>{{vm.volunteer._id ? 'Edit Volunteer' : 'New Volunteer'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.volunteerForm" class="form-horizontal" ng-submit="vm.save(vm.form.volunteerForm.$valid)" novalidate>
      <contact-information contact="vm.volunteer.contact"></contact-information>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="comments">Comments</label>
          <textarea name="comments" type="text" ng-model="vm.client.comments" id="comments" class="form-control" placeholder="Comments" required></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.volunteer._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
