<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Volunteers</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" ng-disabled="true"/>
      </div>
      <div class="col-md-4 text-right" style="margin-top: 2em">
        <button class="btn btn-default" ui-sref="volunteers.create" tooltip-placement="top" uib-tooltip="Add New Volunteer"><i class="glyphicon glyphicon-plus" aria-label="Add New Volunteer"></i></button>
      </div>
    </div>
  </div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Other</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="volunteer in vm.volunteers" ui-sref="volunteers.view({ volunteerId: volunteer._id })">
        <td>{{volunteer.contact.firstName}} {{volunteer.contact.lastName}}</td>
        <td class="list-group-item-text">
          Posted on
          <span ng-bind="volunteer.created | date:'mediumDate'"></span> by
          <span ng-if="volunteer.user" ng-bind="volunteer.user.displayName"></span>
          <span ng-if="!volunteer.user">Deleted User</span>
        </td>
        <td class="text-right">
          <button class="btn btn-default" ui-sref="volunteers.view({ volunteerId: volunteer._id })" tooltip-placement="top" uib-tooltip="View"><i class="glyphicon glyphicon-eye-open" aria-label="View"></i></button>
          <button class="btn btn-default" ui-sref="volunteers.edit({ volunteerId: volunteer._id })" tooltip-placement="top" uib-tooltip="Edit"><i class="glyphicon glyphicon-edit" aria-label="Edit"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
  <div class="alert alert-warning text-center" ng-if="vm.volunteers.$resolved && !vm.volunteers.length">
    No Volunteers yet, why don't you <a ui-sref="volunteers.create">create one</a>?
  </div>
</section>
