<section>
  <div class="page-header">
    <h1 ng-bind="vm.volunteer.contact.name.first + ' ' + vm.volunteer.contact.name.middleInitial + ' ' + vm.volunteer.contact.name.last"></h1>
  </div>
  <div class="col-md-8">
    <contact-view contact="vm.volunteer.contact"></contact-view>
    <p><strong>Monthly Income Single:</strong> {{vm.volunteer.monthlyIncomeSingle}}</p>
    <p><strong>Monthly Income Married:</strong> {{vm.volunteer.monthlyIncomeMarried}}</p>
    <p><strong>Transportation:</strong> {{vm.volunteer.transportation}}</p>
    <div><strong>Referral Source:</strong>
      <p ng-bind="vm.volunteer.referralSource"></p>
    </div>
    <div><strong>Comments:</strong>
      <p ng-bind="vm.volunteer.comments"></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="pull-right" ng-show="vm.volunteer.canEdit">
      <a class="btn btn-primary" ui-sref="volunteers.edit({ volunteerId: vm.volunteer._id })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" ng-click="vm.remove()">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
  </div>
</section>
